<h2>Template: <small>Dinamicos</small></h2>
<hr>


<form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">
<!-- nombre -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   [ngModel]="persona.nombre"
                   name="nombre"
                   placeholder="nombre de la Persona"
                   required>
                   <span class="form-text text-danger"
                   *ngIf="miFormulario.controls['nombre']?.errors && miFormulario.controls['nombre']?.touched">Ingrese nombre
                 </span>
        </div>
    </div>
  <!-- agregar Favorito -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       name="nuevoJuego"
                       [(ngModel)]="nuevoJuego"
                       placeholder="Agregar  favorito">
                       <button type="button" (click)="agregarJuego()"  class="btn btn-outline-primary">Agregar</button>
            </div>
                   
        </div>
    </div>
    <!-- lista de juegos favoritos -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Favortios</label>
        <div class="col-sm-9">
            <div class="input-group mb-1"  *ngFor="let juego of persona.favoritos; let i=index">
                <input 
                 class="form-control "
                 [(ngModel)]="juego.nombre"
                 [name]="'favorito_'+i"
                 required>
                 <button type="button"  class="btn btn-outline-danger"
                 (click)="eliminar(i)">Eliminar</button>

            </div>
        </div>
    </div>

    <div class="row ">
        
        <div class="col-sm-12">
          <button type="button"
                  class="btn btn-primary float-end"
                  [disabled]="miFormulario.invalid"
                  (click)="guardar()" >
            Guardar
          </button>
        </div>
    </div>
</form>

<span>Persona</span>
<pre>{{persona | json}}</pre>